<!DOCTYPE html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pugna</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-resource"></script>

    <script src="appGame.js"></script>
</head>

<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-1 has-text-centered">
                <a href="index.html">Pugna</a>
            </h1>
            <p class="subtitle has-text-centered">
                An online programmable Board Game
            </p>
        </div>
    </div>
</section>

<div id="app">

    <div class="section">
        <div class="columns">
            <div class="column">
                <h3 class="title is-3">Game: {{gameId}}</h3>
            </div>
        </div>

        <div class="container is-fluid">
            <div class="columns">
                <div id="boardContainer" class="column is-8 is-primary has-text-centered">
                    <canvas ref="pa" id="boardCanvas" width="500" height="500"
                            style="border:1px solid #000000;"></canvas>
                </div>
                <div class="column is-4 is-info">

                    <div class="section">
                        <a :disabled="state != 'Preparation'" href="#" class="button is-info" @click="startGame">Start</a>
                        <!--<a href="#" class="button is-warning" @click="restartGame">Restart</a>-->
                    </div>


                    <div class="section">
                        <p class="title is-4">State: {{state}}</p>
                        <p class="title is-4">Round: {{round}}</p>
                        <p v-if="winner != null && winner.length > 0" class="title is-4">Winner: {{winner}}</p>

                        <table class="table">
                            <thead>
                            <tr>
                                <th>Color</th>
                                <th>Player</th>
                                <th>Points</th>
                                <th>Killings</th>
                                <th>Deaths</th>
                                <th>Invalid Moves</th>
                            </tr>
                            </thead>
                            <tbody id="scores-table">
                            <tr v-for="score in scoresComputed">
                                <td v-bind:bgColor="score.color"></td>
                                <td>{{score.name}}</td>
                                <td>{{score.points}}</td>
                                <td>{{score.killingBlows}}</td>
                                <td>{{score.deaths}}</td>
                                <td>{{score.invalidMoves}}</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>

                </div>


            </div>
        </div>
    </div>

</div>
</body>
</html>


